.App {
  text-align: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textField {
  margin: 10px;
}
.todoListComponent {
  margin: 10px;
}
.cardcontend {
  display: flex;
  justify-content: space-around;
  align-items: center;
}